body {
    background-image: url('https://i.pinimg.com/736x/af/0a/0f/af0a0f8b005333dbad21029f4b0e18f6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}